* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --active-input-border: #6448fe to #600594;
  --input-errors: #ff5252;

  /* Neutral */
  --White: #ffffff;
  --Light-grayish-violet: #dedddf;
  --Dark-grayish-violet: #8e8593;
  --Very-dark-violet: #21092f;
  --span-heading: #00f;
  --heading-font: "Playfair Display";
  --body-font: system-ui, sans-serif;
  --bg-color-one: #fff;
  --bg-color-two: #000;
}

/* neutral styling */
body {
  background-color: var(--bg-color-one);
  font-size: var(--body-font);
}

/* hero-section styling */
#hero-section {
  width: 100%;
  height: 40vh;
  display: block;
  background-image: url("../assets/pexels-rdne-7348705\ \(2\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: none;
}

.logo {
  color: var(--White);
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 18px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  line-height: 28px;
  color: var(--White);
}

p {
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 100%;
}

.hero-content {
  width: 100%;
}

#offer {
  margin-top: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 1.4rem;
  margin-top: 1rem;
}

.watch-video {
  color: var(--White);
}

.form-one {
  background-color: var(--White);
  border-radius: 10px;
  padding: 0.5em;
  position: absolute;
  bottom: -16px;
  box-shadow: 0px 0px 2px 0px;
}

.image-wrapper {
  border-radius: 10px;
}

.span-heading {
  color: var(--span-heading);
}

/* cards styling */
.container {
  display: flex;
  gap: 1.5rem;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid green; */
}
.listing {
  background-color: var(--White);

  & .listing-image img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  & .listing-content {
    padding: 0.5rem;
  }
  & .listing-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
  }
  & .listing-description {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: var(--body-font);
  }
}

.ratings,
.listing-rating {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.rating-star,
.review-star,
.review-star-img {
  width: 24px;
  height: 24px;
}

.card {
  width: 100%;
  height: 400px;
  color: var(--Light-grayish-violet);
  transition: all 300ms linear;
  background-image: url("../assets/pexels-asadphoto-3155651\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.card-one {
  width: 100%;
  height: 400px;
  background-image: url("../assets/pexels-quang-nguyen-vinh-222549-6871161\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-two {
  width: 100%;
  height: 400px;
  background-image: url("../assets/pexels-lastly-792375.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-three {
  width: 100%;
  height: 400px;
  background-image: url("../assets/pexels-bertellifotografia-12446359\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover .card-content {
  display: block;
  color: var(--White);
}

/* sign up styling */
.sign-up {
  width: 100%;
  background-color: var(--White);
  display: block;
  padding: 1.4em 0;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-two {
  width: 98%;
  margin: auto;
  background-color: var(--span-heading);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.signup-signin {
  background-color: var(--White);
  border-radius: 10px;
  padding: 0.3em;
}

.search-field {
  border: none;
  background-color: var(--White);
  padding: 0 1em;
}

.form-button {
  padding: 0.5em;
  background-color: var(--span-heading);
  border: none;
  color: var(--White);
  border-radius: 8px;
}

/* footer stylings */
#footer {
  background-color: var(--bg-color-two);
  display: block;
  color: var(--White);
  padding: 1em 0;
}

.content-item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
